version: '3.8'

services:
  app:
    image: node:alpine
    working_dir: /app
    volumes:
      - .:/app
    networks:
      - vitality_network
    ports:
      - "3000:3000"
      - "5555:5555"
    depends_on:
      - postgres
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3000 || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 3
    restart: "on-failure"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    command: sh -c "npx prisma generate && npm run dev"
    container_name: vitality_app

  postgres: 
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vitality
    volumes:
      - vitality_postgres_data:/var/lib/postgresql/data
      - ./tests/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - vitality_network
    ports:
      - "5430:5432"
    healthcheck:
       test: ['CMD', 'pg_isready', '-U', 'postgres', '-d', 'vitality']
       interval: 60s
       timeout: 5s
       retries: 5
    restart: "on-failure"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    container_name: vitality_postgres

networks:
  vitality_network:
    driver: bridge

volumes:
  vitality_postgres_data:

